.header {
    text-align: center;
    padding: 20px;
    color: #161e2e;
    background-color: rgb(93, 145, 145);
    border-bottom-color: #161e2e;
    border-bottom-style: solid;
    margin-bottom: 1em;

}
h1 {

}

p {

}